ion-title {
    margin-top: 15px;
    --color: #ffffff;
    text-shadow:
      0 0 5px #02f5fd,
      0 0 10px #02f5fd,
      0 0 20px #02f5fd,
      0 0 40px #02f5fd,
      0 0 80px #02f5fd,
      0 0 90px #02f5fd,
      0 0 100px #02f5fd,
      0 0 150px #02f5fd;  
}

ion-input.header{
  --color: #fff;
}


ion-datetime{
  width: 100%;
  height: 100%;
}
